<form action="/tracks/save" method="post" class="b-form">
  <% if (type === 'edit') { %>
    <input type="hidden" name="id" value="<%= trackId %>">
  <% } %>
  <table class="b-form__table">
    <tr>
      <td><label for="track-name">Full name:</label></td>
      <td><input type="text" value="" name="trackFullName" class="input b-form__text-field" id="track-name"></td>
    </tr>
    <tr>
      <td class="b-form__big-field-caption"><label for="track-description">Description:</label></td>
      <td>
        <textarea name="trackDescription" id="track-description" class="input b-form__text-field"
                  cols="42" rows="10"></textarea>
       </td>
    </tr>
    <tr>
      <td><label for="track-published">Published:</label></td>
      <td><input type="date" value="" name="trackPublished" max="" class="input" id="track-published"></td>
    </tr>
    <tr>
      <td><label for="track-artists-select">Artists:</label></td>
      <td>
        <select id="track-artists-select" class="input" data-hidden-input-name="trackArtists[]">
          <option value="">Add artist</option>
          <% artists.forEach((artist, index) => { %>
            <option value="<%= artist.id %>"><%= artist.publicName %></option>
          <% }) %>
        </select>
      </td>
    </tr>
    <tr class="b-form__table-small-row">
      <td></td>
      <td><div id="track-artists-select-box" class="b-form-tags-box"></div></td>
    </tr>
    <tr>
      <td><label for="track-channels-select">Channels:</label></td>
      <td>
        <select id="track-channels-select" class="input" data-hidden-input-name="trackChannels[]">
          <option value="">Add channel</option>
          <% channels.forEach((channel, index) => { %>
            <option value="<%= channel.id %>" data-supplier-code="<%= channel.supplierCode %>"
                    data-supplier-name="<%= channel.supplierName %>">
              <%= channel.name %> - <%= channel.supplierName %>
            </option>
          <% }) %>
        </select>
      </td>
    </tr>
    <tr class="b-form__table-small-row">
      <td></td>
      <td><div id="track-channels-select-box" class="b-form-tags-box"></div></td>
    </tr>
  </table>
  <div class="b-form__buttons">
    <input type="submit" value="Save" name="save" class="b-button">
  </div>
</form>