<a href="/tracks/add" class="b-add-entity-link">Add track</a>
<% if (!Array.isArray(tracks) || !tracks.length) { %>
  No tracks
<% } else { %>
  <table class="b-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Artist</th>
      <th>Sources</th>
    </tr>
    <% tracks.forEach((track) => { %>
      <tr>
        <td class="text-align-center"><%= track.id %></td>
        <td><%= track.fullName %> <a href="/tracks/show/<%= track.id %>">[Listen]</a></td>
        <td>
          <% track.artists.forEach((artist, index, artists) => { %>
            <a href="/artists/<%= artist.id %>" target="_blank"><%= artist.publicName %></a>
            <% if (index !== artists.length - 1){ %><br><% } %>
          <% }); %>
        </td>
        <td>
          <% track.channels.forEach((channel, index, channels) => { %>
            <img src="/images/logos/supplier-logo-<%= channel.supplierCode %>.svg" class="b-link-logo"
                 alt="<%= channel.supplierName %>">
            <a href="<%= channel.trackUrl %>" target="_blank"><%= channel.name %></a>
            <% if (index !== channels.length - 1){ %><br><% } %>
          <% }); %>
        </td>
      </tr>
    <% }); %>
  </table>
<% } %>
