<p><%= track.fullName %></p>
<p><%= track.description %></p>
<p>
  <% track.artists.forEach((artist, index, artists) => { %>
    <a href="/artists/show/<%= artist.id %>"><%= artist.publicName %></a>
    <% if (index !== artists.length - 1){ %> | <% } %>
  <% }); %>
</p>
<p>
  <% track.channels.forEach((channel, index, channels) => { %>
    <img src="/images/logos/supplier-logo-<%= channel.supplierCode %>.svg" class="b-link-logo"
         alt="<%= channel.supplierName %>">
    <a href="<%= channel.trackUrl %>" target="_blank"><%= channel.name %></a>
    <% if (index !== channels.length - 1){ %> | <% } %>
  <% }); %>
</p>
