<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= (locals.title) ? title : 'musicconf' %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <script src="/js/script.js"></script>
</head>
<body>

<div class="wrapper">
  <div class="b-header">
    <!-- Navigation -->
    <a href="/">Main page</a>
    <div class="b-header__main-menu">
      <ul class="b-main-menu">
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/artists">Artists</a></li>
      </ul>
    </div>
  </div><!-- .b-header-->

  <div class="b-messages"><!-- Messages --></div><!-- .b-messages-->

  <div class="b-content">
    <%- _content %>
  </div><!-- .b-content-->
</div><!-- .wrapper-->

</body>
</html>
