* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%; /* Content to the bottom */
}
body {
    background-color: #252830;
    color: #cfd2da;
    font-size: 0.96rem;
    font-weight: 300;
    height: 100%; /* Content to the bottom */
    /*line-height: 1.5;*/
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
body, textarea {
    font-family: Helvetica, Arial, sans-serif;
}
ul {
    list-style: none;
}
a {
    color: #1997c6;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #116c8e;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    line-height: 1.1;
    color: #dfdfdf;
}
pre {
    font-size: 1rem;
}
p {
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;
}

.input {
    background-color: #fafbff;
    border: 1px solid #434857;
    border-radius: 3px;
    display: block;
    font-size: 1rem;
    outline: none;
    padding: 5px;
}
select.input {
    cursor: pointer;
}
.input:focus {
    background-color: #fff;
    border-color: #71cced;
    transition: ease-in-out 0.15s
}

.b-button {
    background-color: rgba(25, 151, 198, 0.25);
    border: 1px solid rgba(25, 151, 198, 0.5);
    border-radius: 0.25rem;
    color: #e5e8f1;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    user-select: none;
    white-space: nowrap;
}
.b-button:hover {
    background-color: rgb(25, 151, 198);
    color: #fff;
    transition: ease-in 0.15s;
}

.b-table td, .b-table th {
    border: 1px solid #636c7f;
    font-weight: normal;
    /*max-width: 200px;*/
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.b-table {
    border-collapse: collapse;
}
.b-table th {
    line-height: 1.1;
    color: #fff;
}

.b-form {

}
.b-form__text-field {
    width: 400px;
}
.b-form__table, .b-form__table td {
    border: none;
}
.b-form__table td {
    padding: 8px;
    vertical-align: center;
}
.b-form__table-small-row td {
    padding: 0;
}
td.b-form__big-field-caption {
    padding-top: 13px;
    vertical-align: top;
}
.b-form__required:after {
    content: '*';
    margin-left: 3px;
}
.b-form__buttons {
    padding: 8px;
}

.b-link-logo {
    max-height: 12px;
    width: 15px;
}

/*-----------------------*/
.b-header {
    height: 35px;
}

.b-add-entity-link {
    display: block;
    margin-bottom: 10px;
}

.b-system-error {

}
.b-system-warnings {

}
.b-system-warning {

}

.b-messages {

}

/*-----------------------*/
.wrapper {
    height: calc(100% - 30px); /* Content to the bottom */
    padding: 10px 40px 20px;
}

.b-content {
    background-color: #313642;
    border-radius: 5px;
    min-height: calc(100% - 65px); /* Content to the bottom */
    padding: 10px 20px 20px;
}

/*---------------------*/
.b-header__main-menu {
    display: inline-flex;
    padding-left: 10px;
}
.b-main-menu {
    display: flex;
    font-size: 1rem;
    line-height: 1.5;
}
.b-main-menu li:first-child {
    margin-left: 0;
}
.b-main-menu li {
    margin-left: 10px;
}

.b-form-tags-box {
    padding-left: 8px;
}
.b-form-tag {
    background-color: rgba(121, 169, 198, 0.25);
    border: 1px solid rgba(90, 163, 198, 0.5);
    border-radius: 0.25rem;
    color: #e5e8f1;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.25;
    margin-right: 4px;
    padding: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    white-space: nowrap;
}
