<a href="artists/add" class="b-add-entity-link">Add artist</a>
<% if (!Array.isArray(artists) || !artists.length) { %>
  No artists
<% } else { %>
  <table class="b-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Channels</th>
    </tr>
    <% artists.forEach((artist) => { %>
      <tr>
        <td class="text-align-center"><%= artist.id %></td>
        <td><a href="/artists/show/<%= artist.id %>"><%= artist.publicName %></a></td>
        <td>
          <% artist.channels.forEach((channel, index, channels) => { %>
            <img src="/images/logos/supplier-logo-<%= channel.supplierCode %>.svg" class="b-link-logo"
                 alt="<%= channel.supplierName %>">
            <a href="<%= channel.artistUrl %>" target="_blank"><%= channel.supplierName %></a>
            <% if (index !== channels.length - 1){ %><br><% } %>
          <% }); %>
        </td>
      </tr>
    <% }); %>
  </table>
<% } %>
