<p><%= artist.publicName %></p>
<p><%= artist.description %></p>
<p>
  <% artist.channels.forEach((channel, index, channels) => { %>
    <img src="/images/logos/supplier-logo-<%= channel.supplierCode %>.svg" class="b-link-logo"
         alt="<%= channel.supplierName %>">
    <a href="<%= channel.artistUrl %>" target="_blank"><%= channel.name %></a>
    <% if (index !== channels.length - 1){ %> | <% } %>
  <% }); %>
</p>
