<form action="" class="b-form">
  <% if (type === 'edit') { %>
    <input type="hidden" name="id" value="<%= artistId %>">
  <% } %>
  <table class="b-form__table">
    <tr>
      <td><label for="artist-name">Name:</label></td>
      <td>
        <input type="text" value="" name="artistName" class="input b-form__text-field" id="artist-name">
      </td>
    </tr>
  </table>
</form>